@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@300;400;500;600;700&display=swap');

/* ==================== REGLES GLOBALES ==================== */

#map {
  max-width: 800px;
  height: 450px;
}

i {
  font-size: 2rem;
  margin: 0 0.5rem 0 0.5rem;
}

.hidden {
  display: none;
}

.active {
  display: block;
}




/* ==================== FLEXISTAN ==================== */

.flex-x {
  display: flex;
  flex-direction: row;
}

.flex-center-x {
  justify-content: center;
}

.flex-y {
  display: flex;
  flex-direction: center;
}

.flex-center-y {
  align-items: center;
}




/* ==================== POLICES ==================== */

.font-fantasy {
  font-family: 'Gluten', serif;
}




/* ==================== BLOCS/CONTAINERS ==================== */

.popup {
  max-width: 800px;
  color: white;
  background-color: coral;
  display: none;
}

.resto-pic {
  width: 200px;
  margin: 0.5rem;
}

.resto-pic__img {
  width: 200px;
  object-fit: contain;
}

.resto-pic__placeholder {
  width: 50px;
  object-fit: contain;
}

.resto-desc {
  width: 400px;
}

.resto-buttons {
  height: 60px;
  width: 200px;
  margin: 0.5rem;
  justify-content: space-between;
}

.mapfav {
  max-width: 800px;
  color: coral;
}

.maplink {
  width: 100%;
}

.favlink {
  width: 100%
}




/* ==================== ELEMENTS ==================== */

.resto-buttons__btn-save {
  background-color: white;
  color: #992900;
  border: none;
  font-family: 'Gluten', serif;
  border-radius: 10px;
}

.resto-buttons__btn-close {
  background-color: transparent;
  color: #992900;
  border: none;
  padding: 1rem;
}



/* ==================== debug ==================== */

.bsd {
  border: 1px solid red;
}
