@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@300;400;500;600;700&display=swap');

/* ==================== REGLES GLOBALES ==================== */

* {
  max-width: 1000px;
}

i {
  margin: 0 0.5rem 0 0.5rem;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:active {
  color: coral;
}

button:hover {
  cursor: pointer;
}

#map {
  width: 100vw;
  max-width: 1000px;
  height: calc(100vh - 60px);
}

.pos-relative {
  position: relative;
}



/* ==================== FLEXISTAN ==================== */

.flex-x {
  display: flex;
  flex-direction: row;
}

.flex-center-x {
  justify-content: center;
}

.flex-y {
  display: flex;
  flex-direction: column;
}

.flex-center-y {
  align-items: center;
}

.flex-end-y {
  justify-content: end;
}



/* ==================== POLICES ==================== */

.font-fantasy {
  font-family: 'Gluten', serif;
}






/* ==================== BLOCS/CONTAINERS ==================== */

.header {
  color: coral;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  height: auto;
  margin: 0;
  position: absolute;
  right: 0;
  z-index: 9999;
  display: inline-block;
  text-align: right;
}

.restosfav_header {
  color: coral;
  font-size: 2rem;
  height: auto;
  margin: 0 0 1.25rem 0;
  text-align: center;
}

.popup {
  color: white;
  background-color: rgba(255, 127, 80, 0.8);
  z-index: 9999;
  position: absolute;
  justify-content: space-around;
  bottom: 0;
  left: 0;
  width: 100vw;
}

.restosfav_popup {
  display: flex;
  color: white;
  background-color: coral;
  justify-content: space-around;
  width: 100vw;
  border: 2px solid #55220A;
  border-radius: 10px;
}

.restosfav_placeholder {
  font-family: 'Gluten', serif;
  color: white;
  background-color: coral;
  text-align: center;
  width: 100vw;
  padding-top: 3rem;
  padding-bottom: 3rem;
  border: 2px solid #55220A;
  border-radius: 10px;
}

.resto-pic-cont,
.restofav-pic-cont {
  width: 200px;
  height: 200px;
  object-fit: contain;
  margin: 0.5rem;
  border: 1px solid #55220A;
  border-radius: 10px;
}

.resto-info,
.restofav-info {
  width: 400px;
}

.resto-buttons {
  height: 60px;
  width: 200px;
  margin: 0.5rem;
  justify-content: space-between;
}

.mapfav {
  background-color: white;
  height: 60px;
}

.maplink,
.favlink {
  width: 100%;
}

.hidden {
  display: none;
}




/* ==================== ELEMENTS ==================== */

.resto-buttons__btn-save,
.resto-buttons__btn-delete {
  background-color: #ffd7cc;
  color: #55220A;
  border: 1px solid #55220A;
  border-radius: 10px;
}

.resto-buttons__btn-close {
  background-color: transparent;
  color: #55220A;
  border: none;
  padding: 1rem;
}




/* ==================== MODIFICATEURS ==================== */

.resto-pic-cont__placeholder,
.restofav-pic-cont__placeholder {
  width: 50px;
  height: auto;
  object-fit: contain;
}

.mapfav--active {
  color: coral;
}

.mapfav--passive {
  color: #ffd7cc;
}



/* ==================== debug ==================== */

.bsd {
  border: 1px solid red;
}
